<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/solid.js" integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js" integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq" crossorigin="anonymous"></script> 


  </head>
  <body>

    <% if(videoUrl && format){ %>
    <h1> videoURL:  <%= videoUrl %> format: <%= format%>  error: <%= err %> </h1>
    <h1> vidPath: <%= vidPath %> </h1>
    <% } %>
    <div class="s003">
      <form action="/youtube" method="post">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select data-trigger="" name="videoFormat">
                <option>mp4</option>
                <option>mp3</option>
                <option>flv</option>
              </select>
            </div>
          </div>
          <div class="input-field second-wrap" name="ytURL">
            <input id="search" type="text" placeholder="Paste Youtube url (https://www.youtube.com/watch?v=EDbIgO70hKo)?" name="ytURL"/>
          </div>
          <div class="input-field third-wrap">
            <button  class="btn-search" type="submit">
            <i class="fas fa-download"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="/js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
