<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/solid.js" integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js" integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq" crossorigin="anonymous"></script> 


  </head>
  <body>
    
  <div class="container">
    <h1>Download Page</h1>
    <p>Your video will be ready to download shortly and can be accessed from the link below</p>
    <p>if you'd like to get the link sent to your email please input your email address below</p>
    <p>Otherwise please wait and the video will automatically appear once downlaoded</p>

    
    <a href=<%= videoUrl %>> Ready To Download</a> 

  </div>
  </body>
</html>
